<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibox">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ibox"
        android:label="iBOX"
        android:roundIcon="@mipmap/ic_launcher_ibox"
        android:supportsRtl="true"
        tools:replace="label">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VVH3iPa4aDA5yYHLsAZy1hO3cNiHW81Y" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".RegisteredActivity"
            android:theme="@style/AppTheme1" />

        <service
            android:name=".SocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ShowActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".DetaiShowActivity"
            android:theme="@style/AppTheme2" />

        <service
            android:name=".ServersocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ExpressOrderSubmitActivity"
            android:label="请填写订单信息"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".MapshowActivity"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".TemperatureShowActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".DestoryOrderActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".ScanActivity"
            android:label="签收"
            android:theme="@style/AppTheme1"></activity>
    </application>

</manifest>